@model CoreMvc_ShoppingCart.Models.Product



@{
    ViewData["Title"] = "Create";
}

<h1>Add to  Cart</h1>

<h4>Enter Quantity Required</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                @*<select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId" readonly="readonly"></select>*@
                <input asp-for="ProductId" class="form-control" readonly="readonly" />
                <span asp-validation-for="ProductId" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" readonly="readonly"/>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCount" class="control-label"></label>
                <input type="text" class="form-control" name="count" />
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="ProductTotalprice" class="control-label"></label>
                <input asp-for="ProductTotalprice" class="form-control" />
                <span asp-validation-for="ProductTotalprice" class="text-danger"></span>
            </div>*@
            <div class="form-group">
               @* <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>*@
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> ||
                <a asp-action="Index">Back</a>||
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
