@model CoreMvc_ShoppingCart.Models.UserDetail


@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm("Login", "UserDetails", FormMethod.Post))
{
    //<body style="background-color:cadetblue;">
    <body background="~/Image/shop.jpg" style="background-size:100%">

        @*<img src="https://media.istockphoto.com/photos/user-typing-login-and-password-cyber-security-concept-picture-id1368151370?b=1&k=20&m=1368151370&s=170667a&w=0&h=lHL2uqKqX0XYQzR2XmwwfZBxLkIHp9pLTVR1M5pVafo=" width="70%" />*@

        <table align="right">
            <tr>
                <td colspan="2" align="center">

                    <h2>  Login</h2>
                    <br />
                    <br />

                </td>
            </tr>
            @using (Html.BeginForm("Login", "UserDetails", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>
                        <label for="uname"><b>UserName:</b></label>
                    </td>
                    <td>
                        &nbsp &nbsp<input type="text" placeholder="Enter Username" name="uname" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <label for="psw"><b>Password:</b></label>
                    </td>
                    <td>
                        &nbsp &nbsp<input type="password" placeholder="Enter Password" name="psw" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <br /><br />
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />&nbsp&nbsp&nbsp<p>@ViewBag.error</p>
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "UserDetails")'">Register</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("forgetpassword", "UserDetails")'">Forget password?</button>
                        @*@Html.ActionLink("forgetpassword", "Login")*@
                         @*   <a class="nav-link text-dark" asp-area="" asp-controller="UserDetails" asp-action="Create">Registration</a>*@

                    </td>
                </tr>
            }
        </table>
    </body>
}



