@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1>PIZZA CART</h1>

            <p class="lead">
                Yummy Pizzas On The Way...
            </p>
        </div>
      @*  <div class="col-md-5">

            <img src="~/css/SC.png" alt="Banner" style="width:150px; height:150px; margin-left: 75%;border-radius:50%">
        </div>*@
    </div>
</div>
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item">
                <img src="~/css/1.png" style="width:100%; height:20%; margin-top: 5px;">
            </div>


            <div class="item active">
                <img src="~/css/4.png" alt="Banner" style="width:100%; height:20%;margin-top: 5px;">
            </div>

          
        </div>
    </div>
</div>

